<script type="text/ng-template" id="experience">
    <section class="resume">
        <div class="row">
            <div class="col-md-12">
                <h4>@Resources.Texts.WorkExperience</h4>
                <div class="delim"></div>
                <ul class="career">
                    <li class="item row clearfix">
                        <span class="date col-md-2">@String.Format("{0}, 2014 - {1}", Resources.Texts.Oct, Resources.Texts.Now)</span>
                        <div class="body col-md-10">
                            <span class="type">@Resources.Texts.TeamLead</span>
                            <div class="inner">
                                <span class="subtext color">@Resources.Texts.JohnCompany<span class="location"> • @Resources.Texts.NN</span></span>
                                <span class="text">@Resources.Texts.JohnCompanyDesc</span>
                            </div>
                        </div>
                    </li>
                    <li class="item row clearfix">
                        <span class="date col-md-2">@String.Format("{0}, 2012 - {1}, 2014", Resources.Texts.Sep, Resources.Texts.Oct)</span>
                        <div class="body col-md-10">
                            <span class="type">@Resources.Texts.SeniorDeveloper</span>
                            <div class="inner">
                                <span class="subtext color">@Resources.Texts.JohnCompany<span class="location"> • @Resources.Texts.NN</span></span>
                                <span class="text">@Resources.Texts.JohnCompanyDesc</span>
                            </div>
                        </div>
                    </li>
                    <li class="item row clearfix">
                        <span class="date col-md-2">@String.Format("{0}, 2010 - {1}, 2012", Resources.Texts.Dec, Resources.Texts.Sep)</span>
                        <div class="body col-md-10">
                            <span class="type">@Resources.Texts.Developer</span>
                            <div class="inner">
                                <span class="subtext color">@Resources.Texts.DoeCompany<span class="location"> • @Resources.Texts.NN</span></span>
                                <span class="text">@Resources.Texts.DoeCompanyDesc</span>
                            </div>
                        </div>
                    </li>
                </ul>

                <h4>@Resources.Texts.Education</h4>
                <div class="delim"></div>
                <ul class="career">
                    <li class="item row clearfix">
                        <span class="date col-md-2">2007 - 2010</span>
                        <div class="body col-md-10">
                            <span class="type">@Resources.Texts.EduPhdStatus</span>
                            <div class="inner">
                                <span class="subtext color">@Resources.Texts.EduPHD<span class="location"></span></span>
                                <span class="text">@Resources.Texts.EduPHDDesc</span>
                            </div>
                        </div>
                    </li>
                    <li class="item row clearfix">
                        <span class="date col-md-2">2002 - 2007</span>
                        <div class="body col-md-10">
                            <span class="type">@Resources.Texts.EduUniverStatus</span>
                            <div class="inner">
                                <span class="subtext color">@Resources.Texts.EduUniver<span class="location"></span></span>
                                <span class="text">@Resources.Texts.EduUniverDesc</span>
                            </div>
                        </div>
                    </li>
                    <li class="item row clearfix">
                        <span class="date col-md-2">1992 - 2002</span>
                        <div class="body col-md-10">
                            <span class="type">@Resources.Texts.EduSchoolStatus</span>
                            <div class="inner">
                                <span class="subtext color">@Resources.Texts.EduSchool<span class="location"></span></span>
                                <span class="text">@Resources.Texts.EduSchoolDesc</span>
                            </div>
                        </div>
                    </li>
                </ul>

                <h4>@Resources.Texts.AdditionalEdu</h4>
                <div class="delim"></div>
                <ul class="career">
                    <li class="item row clearfix">
                        <span class="date col-md-2">2009</span>
                        <div class="body col-md-10">
                            <span class="type">@Resources.Texts.Kurs</span>
                            <div class="inner">
                                <span class="subtext color">@Resources.Texts.Kurs1<span class="location"></span></span>
                                <span class="text">@Resources.Texts.Kurs1Desc</span>
                            </div>
                        </div>
                    </li>
                    <li class="item row clearfix">
                        <span class="date col-md-2">2009</span>
                        <div class="body col-md-10">

                            <span class="type">@Resources.Texts.Kurs</span>
                            <div class="inner">
                                <span class="subtext color">@Resources.Texts.Kurs2<span class="location"></span></span>
                                <span class="text">@Resources.Texts.Kurs2Desc</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</script>